*{
    box-sizing: border-box;
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 1.7rem;
    background-color:bisque;
}

.namecafe {
    background-color: white;
}

header{
    display: flex;
    gap: 14px;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
.chefoto{
    width: 80px;
    background-color: white;
}

header > h1 {
    font-size: 2rem;
    font-weight: 400;
}

main{
    padding: 30px 30px 10px;
}

.ingredient-form{
   display: flex;
   justify-content: center;
   gap: 14px; 
   align-items: center;
   height: 45px;
}

.ingredient-form > input {
    border-radius: 9px;
    border: 1px solid grey;
    padding: 9px 13px;
    font-size: 25px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    min-width: 150px;
    max-width: 500px;
}

.ingredient-form > button {
    font-family: sans-serif;
    border-radius: 7px;
    font-size: 25px;
    padding: 9px 13px;
    background-color: black;
    color: rgb(254, 209, 217);
    font-weight: 600;
}

.ingredient-form > button::before{
    content: "+";
    margin-left: 5px;
    margin-right: 2px;
}

.ingredient-list{
    color: rgb(53, 53, 53);
    margin-top: 60px;
    margin-left: 80px;
}